@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Audiowide&family=Bangers&family=Bungee&family=Luckiest+Guy&family=Permanent+Marker&family=Press+Start+2P&family=Rock+Salt&display=swap');

* {
    font-family: "Bungee", sans-serif;
}

body {
    padding: 0;
    margin: auto 0;
}

.shape {
    padding: 50px 20px;
}